*{
    font-family: 'Montserrat', sans-serif;
    padding: 1px;
    box-sizing: border-box;
} 

#grilla{
display: grid;
grid-template-areas: 
    "header nav nav nav"
    "presentacion presentacion presentacion presentacion"
    "quienes_somos quienes_somos quienes_somos quienes_somos"
    "foto_equipo foto_equipo cultura cultura"
    "footer footer redes redes";
grid-template-rows: 100px auto auto auto auto;
grid-template-columns: 10% 40% 25% 25%;
}

.border {
    border: 1px solid black;
}

header {
    grid-area: header;
    display: grid;
    justify-content: center;
    background-color: #222831;
}

.logo_header {
    width: 90px;
}

footer {
    grid-area: footer;
    background-color: #222831;
    color: #EEEEEE;
}

section#redes {
    grid-area: redes;
    background-color: #222831;
    color: #EEEEEE;
    
}

section#presentacion {
    grid-area: presentacion;
    background-color: #393E46;
    margin: 1px;
    color: #EEEEEE;
}

.contenedor_imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #393E46;
    overflow: hidden;
}

.contenedor_item {
    max-width: 35%;
    max-height: auto;
    background-color: #393E46;
}

.contenedor_texto {
    text-align: center;
    background-color: #393E46;
}

.contenedor_texto h1 {
    font-size: 50px;
    background-color: #393E46;
    
}

.contenedor_texto h2 {
    font-size: 45px;
    background-color: #393E46;
}

.contenedor_texto h3 {
    font-size: 35px;
    background-color: #393E46;
}

.contenedor_texto h4 {
    font-size: 35px;
    background-color: #393E46;
}

.contenedor_texto p {
    font-size: 25px;
    background-color: #393E46;
}

.contenedor_texto ul li {
    font-size: 25px;
    list-style-type: none;
    text-decoration: none;
    background-color: #393E46;
}


section#quienes_somos {
    grid-area: quienes_somos;
    background-color: #393E46;
    margin: 1px;
    color: #EEEEEE;
}
section#cultura {
    grid-area: cultura;
    background-color: #393E46;
    color: #EEEEEE;
}

section#foto_equipo {
    grid-area: foto_equipo;
    background-color: #393E46;
}

nav {
    grid-area: nav;
    display:flex;
    justify-content: end;
    background-color: #222831;
    color: black;
}

nav ul {
    display: flex;
    color: black;
    list-style-type: none;
    text-decoration: none;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222831;
}

nav ul li a{
    text-decoration: none;
    padding:20px;
    background-color: #00ADB5;
    border: 50%;  
    color: black;
}

nav ul li a:hover{
    background-color: rgb(66, 62, 62);
}

.centrar_texto {
    justify-self: center;
}

.contenedor_imagen_equipo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.contenedor_item_equipo {
    max-width: 100%;
    max-height: 100%;
}

.contenedor_cultura {
  justify-self: center;
}

.imagen_redes{
    display: flex;
    align-items: center;
}

.imagen_redes img{
    margin: 5px;
}

.imagen_redes p{
    margin: 5px;
}

.contenedor_texto_cultura {
    text-align: center;
    background-color: #393E46;
}

.contenedor_texto_cultura h3 {
    font-size: 38px;
    background-color: #393E46;
    line-height: 1;
}

.contenedor_texto_cultura h4 {
    font-size: 25px;
    background-color: #393E46;
    margin-bottom: 1px;
    line-height: 0;
}

.contenedor_texto_cultura p {
    font-size: 20px;
    background-color: #393E46;
}

.contenedor_texto_cultura ul li {
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    background-color: #393E46;
}

footer a{
    color:white;
}

#grilla2{
    display: grid;
    grid-template-areas: 
        "header nav nav nav"
        "presentacion presentacion presentacion presentacion"
        "flota flota flota flota"
        "tecnologia_wms tecnologia_wms tecnologia_lgv tecnologia_lgv"
        "footer footer redes redes";
    grid-template-rows: 100px auto auto auto auto;
    grid-template-columns: 25% 25% 25% 25%;
}

section#flota{
    grid-area: flota;
    background-color: #393E46;
    color: #EEEEEE;

}

section#tecnologia_wms{
    grid-area: tecnologia_wms;
    background-color: #393E46;
    color: #EEEEEE;

}

section#tecnologia_lgv{
    grid-area: tecnologia_lgv;
    background-color: #393E46;
    color: #EEEEEE;
}

.img_carousel {
    height: 200px;
    width: 200px;
}

.contenedor_imagen_wms {
    display: block;
    justify-content: left;
    align-items: left;
    height: auto;
    width: 100%;
    text-align: center;
}

.contenedor_item_wms {
    max-width: 70%;
    max-height: 70%;
}

.contenedor_imagen_lgv {
    display: block;
    justify-content: right;
    height: auto;
    width: 100%;
    text-align: center;
}

.contenedor_item_lgv {
    max-width: 70%;
    max-height: 70%;
}

.fondo_section {
    background-color: #060607;
}

.carousel{
    width: 50%;
}

.asd {
    display: flexbox;
    justify-content: center;
}

/*Tablet*/
@media screen and (max-width:992px) {
    *{
        font-family: 'Montserrat', sans-serif;
        padding: 1px;
        box-sizing: border-box;
    } 

    #grilla{
        display: grid;
        grid-template-areas: 
            "header"
            "nav"
            "presentacion"
            "quienes_somos"
            "cultura"
            "redes"
            "footer";
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: 1fr;
        }
        
        .border {
            border: 1px solid black;
        }
        
        header {
            grid-area: header;
            display: flex;
            justify-content: center;
            background-color: #222831;
        }
        
        .logo_header {
            width: 45px;
        }
        
        footer {
            grid-area: footer;
            background-color: #222831;
            color: #EEEEEE;
            font-size: 10px;
            text-align: center;
        }
        
        section#redes {
            grid-area: redes;
            background-color: #222831;
            color: #EEEEEE;
            display: flex;
            justify-content: center;
            align-items: center;
            
            font-size: 10px;
            
        }
        
        section#presentacion {
            grid-area: presentacion;
            background-color: #393E46;
            margin: 1px;
            color: #EEEEEE;
            line-height: 0;
        }
        
        .contenedor_imagen {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: #393E46;
        }
        
        .contenedor_item {
            max-width: 35%;
            max-height: 35%;
            background-color: #393E46;
        }
        
        .contenedor_texto {
            text-align: center;
            background-color: #393E46;
        }
        
        .contenedor_texto h1 {
            font-size: 25px;
            background-color: #393E46;
            
        }
        
        .contenedor_texto h2 {
            font-size: 20px;
            background-color: #393E46;
        }
        
        .contenedor_texto h3 {
            font-size: 17px;
            background-color: #393E46;
        }
        
        .contenedor_texto h4 {
            font-size: 17px;
            background-color: #393E46;
        }
        
        .contenedor_texto p {
            font-size: 12px;
            background-color: #393E46;
        }
        
        .contenedor_texto ul li {
            font-size: 12px;
            list-style-type: none;
            text-decoration: none;
            background-color: #393E46;
        }
        
        
        section#quienes_somos {
            grid-area: quienes_somos;
            background-color: #393E46;
            margin: 1px;
            color: #EEEEEE;
        }
        section#cultura {
            grid-area: cultura;
            background-color: #393E46;
            color: #EEEEEE;
        }
        
        section#foto_equipo {
            grid-area: foto_equipo;
            background-color: #393E46;
        }
        
        nav {
            grid-area: nav;
            display:flex;
            justify-content:center;
            background-color: #222831;
            color: black;
        }
        
        nav ul {
            display: flex;
            color: black;
            list-style-type: none;
            text-decoration: none;
            width: 20%;
            justify-content: center;
            align-items: center;
            background-color: #222831;
        }
        
        nav ul li a{
            text-decoration: none;
            padding:10px;
            background-color: #00ADB5;
            border: 25%;  
            color: black;
        }
        
        nav ul li a:hover{
            background-color: rgb(66, 62, 62);
        }
        
        .centrar_texto {
            justify-self: center;
        }
        
        .contenedor_imagen_equipo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
        }
        
        .contenedor_item_equipo {
            max-width: 50%;
            max-height: 50%;
        }
        
        .contenedor_cultura {
          justify-self: center;
        }
        
        .imagen_redes{
            display: flex;
            align-items: center;
        }
        
        .imagen_redes img{
            margin: 1px;
        }
        
        .imagen_redes p{
            margin: 1px;
        }
        
        .contenedor_texto_cultura {
            text-align: center;
            background-color: #393E46;
        }
        
        .contenedor_texto_cultura h3 {
            font-size: 16px;
            background-color: #393E46;
            line-height: 1;
        }
        
        .contenedor_texto_cultura h4 {
            font-size: 12px;
            background-color: #393E46;
            margin-bottom: 1px;
            line-height: 0;
        }
        
        .contenedor_texto_cultura p {
            font-size: 10px;
            background-color: #393E46;
        }
        
        .contenedor_texto_cultura ul li {
            font-size: 10px;
            list-style-type: none;
            text-decoration: none;
            background-color: #393E46;
        }
        
        footer a{
            color:white;
        }
        
        #grilla2{
            display: grid;
            grid-template-areas: 
                "header"
                "nav"
                "presentacion"
                "flota"
                "tecnologia_wms"
                "tecnologia_lgv"
                "redes"
                "footer";
            grid-template-rows: auto auto auto auto auto auto auto auto;
            grid-template-columns: 1fr;
        }
        
        section#flota{
            grid-area: flota;
            background-color: #393E46;
            color: #EEEEEE;
        
        }
        
        section#tecnologia_wms{
            grid-area: tecnologia_wms;
            background-color: #393E46;
            color: #EEEEEE;
        
        }
        
        section#tecnologia_lgv{
            grid-area: tecnologia_lgv;
            background-color: #393E46;
            color: #EEEEEE;
        }
        
        .img_carousel {
            height: 200px;
            width: 200px;
        }
        
        .contenedor_imagen_wms {
            display: block;
            justify-content: left;
            align-items: left;
            height: auto;
            width: 100%;
            text-align: center;
        }
        
        .contenedor_item_wms {
            max-width: 70%;
            max-height: 70%;
        }
        
        .contenedor_imagen_lgv {
            display: block;
            justify-content: right;
            height: auto;
            width: 100%;
            text-align: center;
        }
        
        .contenedor_item_lgv {
            max-width: 70%;
            max-height: 70%;
        }
        
        .fondo_section {
            background-color: #060607;
        }
        
        .carousel{
            width: 50%;
            display: flex;
            justify-content: center;
            justify-items: center;
        }  

}