@media screen and (min-width:992px){
.border {
    border: 1px solid black;
}

header {
    grid-area: header;
    display: grid;
    justify-content: left;
    background-color: #222831;
    padding-left: 20px;
    padding-top: 5px;
}

.logo_header {
    width: 90px;
}
}

@media screen and (max-width:992px){
    .border {
        border: 1px solid black;
    }
    
    header {
        grid-area: header;
        display: grid;
        justify-content: center;
        background-color: #222831;
        padding-left: 20px;
        padding-top: 12px;
    }
    
    .logo_header {
        width: 90px;
    }
}